<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products:</h1>

    {% for product in products %}
        <div>
            {% if product.image %}
                <img src="{{ product.image.url }}" width="250">
            {% endif %}
            <h2>{{ product.title }} - {{ product.rate }}</h2>
            <p>{{ product.text }}</p>
            <p>Price: ${{ product.price }}</p>
            <p>Created at: {{ product.create_date }}</p>

            <a href="/products/{{ product.id }}"> more </a>
        </div>
    {% endfor %}
</body>
</html>
