{% extends 'elements/navbar.html' %}

{% block content %}

<body>
  {% load static %}

  <div class="card">
    <h1>{{ detail.title }}</h1>
    <div class="card-header"></div>
    <div class="card-body">
      <img src="{{ detail.image.url }}">
      <h5 class="card-title">{{ detail.title }}</h5>
      <p class="card-text">{{ detail.text }}</p>
      <p>Price: ${{ detail.price }}</p>
      <p>Created at: {{ detail.create_date }}</p>
    </div>
    <h2>Теги</h2>
    {% for tag in detail.tags.all %}
    <p>{{ tag.title }}</p>
    {% endfor %}
  </div>

  <a href="/" class="btn btn-primary btn-sm">Go back</a>

  <h2>Комментарии</h2>
  <div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>

<div class="card">
  <div class="card-body">
    <form action="{% url 'add_feedback' detail.pk %}" method="post">
      {% csrf_token %}
      <textarea name="text" rows="4" cols="50" placeholder="Enter your feedback"></textarea><br>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

    {% for feedback in detail.feedback_set.all %}
      <div class="card">
        <div class="card-body">
          <p>{{ feedback.text }}</p>
        </div>
      </div>
    {% endfor %}

    {% for feedback in feedbacks %}
      <div class="card">
        <div class="card-body">
          <p>{{ feedback.text }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
